extends layout

block layoutContent

    
    div#mainBanner
        div#bannerSlides
            a(href="/product/1")
                div.bannerSlide
                    img.bannerImage(src="/images/PunkSpidermanBanner.png" alt="Punk Spiderman Swinging Through The City")
                    p.bannerText Now In Stock!
            a(href="/product/4")
                div.bannerSlide
                    img.bannerImage(src="/images/DarthVaderBanner.png" alt="Darth Vader holding his lightsaber and trying use the force on Luke Skywalker")
                    p.bannerText Now In Stock!
            a(href="/product/11")
                div.bannerSlide
                    img.bannerImage(src="/images/RocketRaccoonBanner.png" alt="Rocket Raccoon in a red scarf shooting two guns towards the left")
                    p.bannerText Now In Stock!
            a(class="bannerPrev" onclick="plusSlides(-1)") &#10094;
            a(class="bannerNext" onclick="plusSlides(1)") &#10095;
            script(src="/js/banner.js") 

    div.flexContainer#indexLayoutFlex

        aside#collections

            h3 Collections

            ul#collectionList.flexContainer
                li.collectionLink
                    a(href="/comingsoon")
                        img(src="/images/MarvelLogo.png" alt="The Marvel Comics Logo").collectionLogo
                        //- Image Source: https://upload.wikimedia.org/wikipedia/commons/b/b9/Marvel_Logo.svg
                li.collectionLink
                    a(href="/comingsoon")
                        img(src="/images/DCLogo.png" alt="The DC Comics Logo").collectionLogo
                        //- Image Source: https://subscriptions.acecomics.co.uk/tag/dc-comics/page/3/
                li.collectionLink
                    a(href="/comingsoon")
                        img(src="/images/StarWarsLogo.png" alt="The Star Wars Logo").collectionLogo
                        //- Image Source: https://en.wikipedia.org/wiki/File:Star_Wars_Logo.svg
                li.collectionLink
                    a(href="/comingsoon")
                        img(src="/images/TransformersLogo.png" alt="The Transformers Logo").collectionLogo
                        //- Image Source: https://www.stickpng.com/img/icons-logos-emojis/iconic-brands/transformers-logo-text-red
                li.collectionLink
                    a(href="/comingsoon")
                        img(src="/images/PowerRangersLogo.png" alt="The Power Rangers Logo").collectionLogo
                        //- Image Source: https://news.toyark.com/2018/05/01/hasbro-fully-acquires-power-rangers-press-release-298231
                li.collectionLink
                    a(href="/comingsoon")
                        img(src="/images/TMNTLogo.png" alt="The Teenage Mutant Ninja Turtles Logo").collectionLogo
                        //- Image Source: https://wallpapercave.com/w/wp8244190
                li.collectionLink
                    a(href="/comingsoon")
                        img(src="/images/DisneyLogo.png" alt="The Disney Logo").collectionLogo
                        //- Image Source: https://logos-world.net/wp-content/uploads/2020/11/Nintendo-Logo.png
                li.collectionLink
                    a(href="/comingsoon")
                        img(src="/images/NintendoLogo.png" alt="The Nintendo Logo").collectionLogo
                        //- Image Source: https://static1.thegamerimages.com/wordpress/wp-content/uploads/2022/03/Disney-Logo.jpg?q=50&fit=contain&w=750&h=375&dpr=1.5
                li.collectionLink
                    a(href="/comingsoon")
                        img(src="/images/FinalFantasyLogo.png" alt="The Final Fantasy Logo").collectionLogo
                        //- Image Source: https://eu.finalfantasy.com/
                li.collectionLink#collectionButton
                    a(href="/comingsoon")
                       p#collectionListLink View All


        section#featured
            div#featuredContent
                h1(style="display:none;") Action Central Home Page
                h2 Featured Products

                div#topFeaturedProducts.flexContainer
                    - for (var i = 0; i < 2; i++)
                        div.topProductBox
                            a(href=`/product/${products[i].id}`).productLink
                                img.topProductImage(src=`${products[i].square_image}` alt=`${products[i].description}`)
                                p.topProductName #{products[i].name}

                div.featuredProducts.flexContainer
                    - for (var i = 2; i < products.length; i++)
                        div.productBox
                                a(href=`/product/${products[i].id}`).productLink
                                    img.productImage(src= `${products[i].portrait_image}` alt= `${products[i].description}`)
                                    p.productName #{products[i].name}

                div.bottomFeaturedProducts.flexContainer
                    a(href="/list").productBottomButton View All

                    
                        
        
