extends layout

block layoutContent

    div.pageHeader

        h1#productPageTitle #{product.name}
            
        div#productCollections
            p Collections:
            each c in product.collections
                a(href="#") #{c}

    div.flexContainer#productContent

        div#productLeftSide

            div.flexContainer

                div

                    div#productDescription.productTextBox
                        h2 Product Description
                        p #{product.details}
                    
                    div#productFeatures.productTextBox
                        h3 Product Features
                        ul
                            each f in product.features
                                li #{f}

                    div#boxContents.productTextBox
                        h3 Box Contents
                        ul
                            each c in product.contents
                                li #{c}

        div#productRightSide
            div.productPictureBox
                img.productPicture(src=`${product.landscape_image}` alt=`${product.description}`)

            div.productDetails.flexContainer
                p.price $#{product.price}
                p.inStock In Stock
            
            p.shipping Free Worldwide Shipping!

            div#addToCartForm
                div#cartFlex.flexContainer
                    div#quantity
                        label(for="quantity") Quantity
                        input#quantity(type="number" min="1" max="10" name="quantity")
                    a(href="/comingsoon")
                        button(type="submit" form="addToCartForm").cartSubmit  
                            div.flexContainer    
                                i.fas.fa-shopping-cart
                                p Add To Cart    
            
            div#addToWishlist
                button(type="submit" form="addToWishlist").wishlistButton
                    a(href="/comingsoon")
                        div.flexContainer
                            i.fas.fa-star
                            p Add to Wish List
                            i.fas.fa-star
